@page "/"
@using ZapWord.Shared.Models;
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@if (newgame is not null)
{
    <h2>@newgame.WordCount</h2>
    <h3>@(new String(newgame.Letters[0]))</h3>
    <h3>@newgame.Words.Count()</h3>
    @foreach (var word in newgame.Words)
    {
        <h4>@word.Key</h4>
        @foreach(var semantic in word.Value)
        {
            <h5><strong>@semantic.Category</strong>&nbsp;@semantic.Description</h5>
        }
    }
}

@code {
    private ZapWordModel? newgame;

    protected override async Task OnInitializedAsync()
    {
        newgame = await Http.GetFromJsonAsync<ZapWordModel>("ZapWord");
    }
}
